  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px rgb(0, 0, 2);
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px rgb(3, 3, 254);
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  body{
    background-position: center;
    background-size: cover;
   text-decoration: dotted;
  }
 .copy_right_footer{
   position: fixed;
   bottom: 0;
   width: 100%;
   text-align: center;
 }
 canvas{
border: 5px solid rgba(0, 0, 0, 0.921);
margin-top: 100px;
border-radius: 1000px;
box-shadow: 5px 5px 5px grey;

 }